.main {
  padding: 0 40px;
  & .content {
    text-align: center;
    & h4 {
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 10px
    }
    & p {
      font-size: 15px;
    }
  }
  & .select-row {
    display: flex;
    margin-top: 40px;
    & .select-label {
      margin-right: 10px;
    }
    & .select-sort {
      margin-left: 30px;
    }
    & .select-btn {
      border: 1px solid #b9babb;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #179c3d;
        border-color: #179c3d;
        color: #fff;
      }
    }
  }
  .view-all-btn {
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #eff0f1;
    border: 1px solid #eff0f1;
    display: block;
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .main {
    & .select-row {
       flex-direction: column;
    & .select-filter, & .select-sort {
      margin-top: 10px;
    }
    & .select-sort {
      margin-left: 0;
    }
   }
 }}
