.card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 40px;
  & .card-item {
    width: calc(25% - 40px);
    margin: 15px;
    background-color: #eff0f1;
    border-radius: 5px;
    & .card-image {
      width: 100px;
      padding-top: 20px;
    }
    & .card-desc {
      background-color: #dedfe0;
      padding: 10px;
      text-align: left;
      & .card-name {
        font-size: 20px;
        font-weight: bold;
      }
      & .card-city-label {
         margin-top: 25px;
      }
      & .card-city {
        font-size: 14px;
        padding: 5px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #f4f4f4;
        width: 80px;
      }
    }
  }
  & .students {
    margin-top: 10px;
    & .student-list {
      display: flex;
      padding: 0;
      margin: 10px 0;
      & li {
        margin-right: 10px;
        img {
          background-color: #eff0f1;
          padding: 5px;
          border-radius: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    & .card-item {
      width: calc(100% - 20px);
      margin: 10px;
    }
  }
}
