.header {
  display: flex;
  padding: 10px;
  background-color: #f1f2f3;
  & .logo {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
.nav {
  margin-left: auto;
}
.nav-link {
  margin-right: 20px;
  color: #333;
}
.btn {
  padding: 5px 25px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: none;
  cursor: pointer;
}
