.banner {
  background-color: #f1f2f3;
  height: 300px;
  text-align: center;
  & .banner-content {
      padding-top: 60px;
  }
  & h1 {
    font-size: 24px;
  }
  & h5 {
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: normal;
  }
  .banner-btn {
    padding: 10px;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    background-color: #179c3d;
    cursor: pointer;
  }
}
